<button (click)="logForm()">Log form</button>

<form [formGroup]="bookForm" (ngSubmit)="submitForm()">

  <div class="form-group">
    <label>ISBN</label>
    <input type="text" class="form-control" formControlName="isbn">
    
    <div class="feedback-red" *ngIf="isInvalid('isbn')">
      ISBN ist ungültig
    </div>

    <div class="feedback-red" *ngIf="hasError('isbn', 'minlength')">
      ISBN ist zu kurz
    </div>
  </div>

  <div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control" formControlName="title">
  </div>

  <div class="form-group">
    <label>Description</label>
    <textarea class="form-control" formControlName="description"></textarea>
  </div>

  <div class="form-group">
    <label>Price</label>
    <input type="number" class="form-control" formControlName="price">
  </div>

  <div class="form-group" formArrayName="authors">
    <label>Authors</label>

    <button class="btn btn-sm btn-secondary ml-2" (click)="addAuthor()"> + </button>

    <input *ngFor="let c of authors.controls; index as i"
      [formControlName]="i"
      class="form-control mb-2" type="text">
  </div>

  <button class="btn btn-danger"
    [disabled]="bookForm.invalid"
    type="submit">Submit</button>

</form>

{{ bookForm.value | json }}