<div class="card mb-4">
  <div class="card-body bg-light">
    <img src="//api.angular.schule/avatar/{{ book.rating }}"
      class="img-thumbnail float-right">

    <div class="card-title">
      <h2>{{ book.title }}</h2>

      <span class="badge badge-success">
        Rating: {{ book.rating }}

        <ng-container *ngFor="let x of getRatingStars()">*</ng-container>

      </span>
    </div>

    <p>{{ book.description }}</p>
    <p>
      Preis: {{ book.price | currency:'EUR' }}
    </p>

    <button (click)="doRateUp()" data-testing-id="rateUpBtn" class="btn btn-success mr-2"> + </button>
    <button (click)="doRateDown()" class="btn btn-danger mr-2"> – </button>
  </div>
</div>

{{ log() }}